:root {
  --primary-color: green;
  --secondary-color: white;
  --accent-color: yellow;
}

* {
  font-family: serif;
  text-align: center;
  color: var(--secondary-color);
}

html, body, div#root, div.App {
  background-color: var(--primary-color);
  height: 100%;
}

.title-and-login-bar {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
}

.login-button, .make-picks-button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  float: right;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
}

.leaderboard-container {
  margin: auto;
  overflow: auto;
  height: 80%;
  width: 90%;
}

.leaderboard-table {
  background-color: var(--secondary-color);
  width: max-content;
}

.leaderboard-table table {
  border-collapse: collapse;
}

table.leaderboard-table,
table.leaderboard-table > thead,
table.leaderboard-table > thead > tr,
table.leaderboard-table > thead > tr > th,
table.leaderboard-table > thead > tr > td,
table.leaderboard-table > tbody,
table.leaderboard-table > tbody > tr,
table.leaderboard-table > tbody > tr > th,
table.leaderboard-table > tbody > tr > td {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
}

table.leaderboard-table td, th {
  color: var(--primary-color);
}

table.leaderboard-table th {
  background-color: var(--accent-color);
  position: sticky;
}

table.leaderboard-table th[scope='top'] {
  top: 0;
  left: 0;
  z-index: 3;
}

table.leaderboard-table th[scope='row'] {
  left: 0;
  z-index: 2;
}

table.leaderboard-table th[scope='column'] {
  top: 0;
  z-index: 1;
}

.player-column-table {
  width: 300px;
}

table.leaderboard-table th[scope='top'], th[scope='row'] {
  width: 240px;
}

.position-column {
  width: 30px;
}

.name-column {
  width: 150px;
}

.score-column {
  width: 60px;
}

.chip-column {
  width: 60px;
}