:root {
  --primary-color: green;
  --secondary-color: white;
  --accent-color: yellow;
  --hover-color: rgb(255, 255, 150);
  --close-color: red;
  --close-hover-color: rgb(255, 0, 150);
}

* {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: var(--secondary-color);
}

html, body, div#root, div.App {
  background-color: var(--primary-color);
  height: 100%;
}

.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.top-bar-element {
  flex: 1 1 33%;
}

.top-bar-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  float: right;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.top-bar-button:hover {
  background-color: var(--hover-color)
}

.top-bar-button:active {
  background-color: var(--secondary-color);
}

.leaderboard-container {
  margin: auto;
  overflow: auto;
  height: 80%;
  width: 90%;
}

.leaderboard-table {
  background-color: var(--secondary-color);
  width: max-content;
}

.leaderboard-table table {
  border-collapse: collapse;
}

table.leaderboard-table,
table.leaderboard-table > thead,
table.leaderboard-table > thead > tr,
table.leaderboard-table > thead > tr > th,
table.leaderboard-table > thead > tr > td,
table.leaderboard-table > tbody,
table.leaderboard-table > tbody > tr,
table.leaderboard-table > tbody > tr > th,
table.leaderboard-table > tbody > tr > td {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
}

.make-picks-form {
  background-color: var(--primary-color);
  border: 3px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 50%;
  height: auto;
  width: 400px;
  transform: translate(-50%, -50%);
}

.close-make-picks-form {
  background-color: var(--close-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.close-make-picks-form:hover {
  background-color: var(--close-hover-color);
}

.close-make-picks-form:active {
  background-color: var(--secondary-color);
}

.submit-make-picks-form {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
}

.make-picks-table {
  margin: 30px;
  left: 50%;
  right: 50%;
  width: 90%;
}

.make-picks-table-header > tr > th {
  color: var(--secondary-color);
}

.make-picks-table-body > tr > td > select,
.make-picks-table-body > tr > td > input {
  color: var(--primary-color);
}

table.leaderboard-table > tbody > tr:hover {
  background-color: var(--hover-color);
}

table.leaderboard-table td, th {
  color: var(--primary-color);
}

table.leaderboard-table th {
  background-color: var(--accent-color);
  position: sticky;
}

table.leaderboard-table th[scope='top'] {
  top: 0;
  left: 0;
  z-index: 3;
}

table.leaderboard-table th[scope='row'] {
  left: 0;
  z-index: 2;
}

table.leaderboard-table th[scope='column'] {
  top: 0;
  z-index: 1;
}

.player-column-table {
  width: 300px;
}

table.leaderboard-table th[scope='top'], th[scope='row'] {
  width: 240px;
}

.position-column {
  width: 30px;
}

.name-column {
  width: 150px;
}

.score-column {
  width: 60px;
}

.chip-column {
  width: 60px;
}