:root {
  --primary-color: green;
  --secondary-color: white;
  --accent-color: yellow;
}

* {
  font-family: serif;
  text-align: center;
  color: var(--secondary-color);
}

html, body, div#root, div.App {
  background-color: var(--primary-color);
  height: 100%;
}

.leaderboard-container {
  margin: auto;
  overflow: auto;
  height: 80%;
  width: 90%;
}

.leaderboard-table {
  background-color: var(--secondary-color);
  width: max-content;
}

.leaderboard-table table {
  border-collapse: collapse;
}

table.leaderboard-table,
table.leaderboard-table > thead,
table.leaderboard-table > thead > tr,
table.leaderboard-table > thead > tr > th,
table.leaderboard-table > thead > tr > td,
table.leaderboard-table > tbody,
table.leaderboard-table > tbody > tr,
table.leaderboard-table > tbody > tr > th,
table.leaderboard-table > tbody > tr > td {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
}

table.leaderboard-table td, th {
  color: var(--primary-color);
}

.leaderboard-table th[scope='top'] {
  background-color: var(--accent-color);
  position: --webkit-sticky;
  position: sticky;
  left: 1;
  top: 1;
  z-index: 3;
}

.leaderboard-table th[scope='column'] {
  background-color: var(--accent-color);
  position: --webkit-sticky;
  position: sticky;
  top: 1;
  z-index: 2;
}

.leaderboard-table th[scope='row'] {
  background-color: var(--accent-color);
  position: --webkit-sticky;
  position: sticky;
  left: 1;
  z-index: 1;
}

table.leaderboard-table th[scope='column'], th[scope='column'] > table {
  width: 150px;
}

table.leaderboard-table th[scope='top'], th[scope='row'] {
  width: 270px;
}

.leaderboard-header-table.row tr > td:nth-child(1) {
  width: 60px;
}

.leaderboard-header-table.row tr > td:nth-child(2) {
  width: 150px;
}

.leaderboard-header-table.row tr > td:nth-child(3) {
  width: 60px;
}